.main{
  &__first-screen {
    background: url(../images/first-screen.png) center/cover no-repeat;
  }

  &__block {
    display: block;
    max-width: 1076px;
    margin: 0 auto;
    height: 100%;
  }

  &__rectangle {
    max-width: 526px;
    background-color: #FFFFFF;
    border: 20px solid #FFFFFF;
  }

  &__rectangle-body {
    width: 100%;
    border: 3px solid #D3B288;
  }
  &__rectangle-body-text {
    padding: 187px 50px 186px 50px;
  }

  @media (max-width: 1317px) {
    &__first-screen {
      background: none;
    }

    &__rectangle {
      max-width: 100%;
      margin: 0 20px;
      border: none;
    }

    &__rectangle-body {
      background: url(../images/first-screen.png) center/cover no-repeat;
      color: #FFFFFF;
      text-shadow: 1px 1px 1px #333333;
    }

    &__rectangle-body-text {
      max-width: 350px;
      padding: 100px 20px 100px 20px;
    }

    &__button {
      text-shadow: none;
    }
  }

  @media (max-width: 425px) {
    &__rectangle-body-text {
      padding: 20px 10px 20px 10px;
    }
  }

  &__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.4;
  }

  &__subtitle {
    margin-top: 25px;
  }

  &__button {
    display: inline-block;
    margin-top: 30px;
    padding: 10px 20px;
    background-color: #D3B288;
    color: #FFFFFF;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 16px;
  }

  &__about {
    display: flex;
    flex-wrap: wrap-reverse;
    max-width: 1076px;
    padding: 0 20px;

    @media (max-width: 1024px) {
      margin: 100px auto;
    }
  }

  .about__image {
    margin-right: 20px;
  }

  .aout__image {
    max-width: 100%;
  }

  .about__text {
    flex: 1 1 50%;
  }

  .about__paragraphs {
    margin-top: 40px;
    font-size: 16px;
    line-height: 22px;
  }

  .about__paragraphs p {
    margin-bottom: 30px;
  }

  &__info {
    display: flex;

    @media (max-width: 1330px) {
      flex-direction: column;

      .info__option {
        margin-top: 50px;
      }
    }

    .info__text {
      flex: 0 0 25%;

      .info__p {
        margin-top: 30px;
      }
    }

    .info__option {
      flex: 0 0 75%;
    }

    .info__option-row1 {
      display: flex;
    }

    .info__option-row2 {
      display: flex;
      margin-top: 50px;
    }

    .info__option-row3 {
      display: flex;
      margin-top: 50px;
    }

    .info__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 1 1 33.333%;
    }

    .info__icon {
      width: 50px;
      height: 50px;
    }

    .info__icon-text{
      margin-top: 20px;
      max-width: 250px;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.4;
      text-align: center;
    }
  }

  &__services {
    padding: 120px 0;
    background-color: rgba(211, 178, 136, 0.1);
    @media (max-width: 1025px) {
      padding: 50px 0;
    }

    .services__body {
      display: flex;

      @media (max-width: 1320px) {
        display: block;
      }

      .services__text {
        flex: 0 0 32%;
        padding-right: 24px;

        @media (max-width: 1320px) {
          padding-right: 0;
        }

        .services__title {
          font-weight: 700;
          font-size: 36px;
          line-height: 50px;
        }

        .services__paragraph {
          margin-top: 25px;
          font-weight: 400;
          font-size: 14px;
        }
      }

      .services__rectangles {
        display: flex;
        flex: 0 0 68%;
        flex-wrap: wrap;
        max-width: 100%;

        @media (max-width: 1320px) {
          margin-top: 10px;
        }

        .services__item {
          flex: 0 1 25%;
          border: 10px solid #D3B288;
          transition: 0.2s;
          height: 260px;
          min-width: 196px;
          max-width: 199px;
          margin-right: 24px;
          border-radius: 5px;

          @media (max-width: 1320px) {
            margin-top: 10px;
          }
        }

        .services__item:last-child {
          margin-right: 0;
        }

        .services__link {
          display: flex;
          justify-content: center;
          align-items: flex-end;
          text-align: center;
          height: 100%;
          border: 3px solid #FFFFFF;
          color: #FFFFFF;
          background-color: #D3B288;
          font-weight: 500;
          font-size: 16px;
          line-height: 1.4;
          padding: 0 5px 30px 5px;
        }
      }
    }
  }

  &__results {
    @media (max-width: 1025px) {
      margin: 50px auto;
    }
  }

  .results__body {
    overflow: hidden;
  }

  .results__top {
    display: flex;
    justify-content: space-between;
  }

  .results__change {
    display: flex;
  }

  .results__button1 {
    background: url(../images/icons/arrow-left.svg) no-repeat;
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }

  .results__button2 {
    background: url(../images/icons/arrow-right.svg) no-repeat;
    width: 40px;
    height: 40px;
  }

  .results__bottom {
    display: flex;
    margin-top: 50px;

    .results__image {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      margin-right: 25px;
      background: url("../images/Rectangle 47.png") center center/cover no-repeat;
      width: 415px;
      height: 275px;
    }

    .results__image:last-child {
      margin-right: 0;
    }

    .results__border {
      background: url(../images/icons/Border.svg);
      width: 4px;
      height: 100%;
    }

    .results__ellipse {
      position: absolute;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      background-color: white;
      border-radius: 50%;
    }

    .results__arrows {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 16px;
      height: 8px;
    }

    .results__arrow {
      height: 8px;
    }

    .results__arrow {
      height: 8px;
    }

    .results__subtitle {
      margin-top: 20px;
      font-size: 18px;
      line-height: 25px;
    }
  }
}