@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:after, *:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  bottom: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: #E5E5E5;
  color: #333333;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
  background-color: #FFFFFF;
}

._container {
  max-width: 1317px;
  margin: 0 auto;
  padding: 0 20px;
}

.section-block {
  margin: 150px auto;
}

.title {
  color: #D3B288;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.4;
}

.text {
  line-height: 20px;
}

.button {
  border-radius: 5px;
}

.header {
  display: flex;
  align-items: center;
  height: 80px;
}
.header__body {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  display: block;
  background: url("../images/icons/logo.svg") no-repeat;
  width: 33px;
  height: 40px;
}
.header__burger {
  display: none;
}
@media (max-width: 900px) {
  .header__menu {
    display: none;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    margin: 0 auto 0 20px;
  }
  .header__burger span {
    position: absolute;
    background-color: #D3B288;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
  }
  .header__burger::before, .header__burger::after {
    content: "";
    background-color: #D3B288;
    position: absolute;
    width: 100%;
    height: 2px;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
}
.header__list {
  display: flex;
}
.header__link {
  margin-right: 30px;
}
.header__link a {
  color: #333333;
}
.header__link:last-child {
  margin-right: 0;
}
.header__info {
  display: flex;
  align-items: center;
}
.header__address {
  position: relative;
  margin-right: 30px;
}
@media (max-width: 1100px) {
  .header .header__address {
    display: none;
  }
}
.header__address::before {
  content: "";
  background: url(../images/icons/map-point.svg) no-repeat;
  display: inline-block;
  position: absolute;
  bottom: 0;
  width: 12px;
  height: 16px;
  left: -15px;
}
.header__address span {
  padding: 0 0 3px 0;
  border-bottom: 2px dashed #D3B288;
}
.header__button {
  background-color: #D3B288;
  color: #FFFFFF;
  padding: 8px 15px;
}

.main__first-screen {
  background: url(../images/first-screen.png) center/cover no-repeat;
}
.main__block {
  display: block;
  max-width: 1076px;
  margin: 0 auto;
  height: 100%;
}
.main__rectangle {
  max-width: 526px;
  background-color: #FFFFFF;
  border: 20px solid #FFFFFF;
}
.main__rectangle-body {
  width: 100%;
  border: 3px solid #D3B288;
}
.main__rectangle-body-text {
  padding: 187px 50px 186px 50px;
}
@media (max-width: 1317px) {
  .main__first-screen {
    background: none;
  }
  .main__rectangle {
    max-width: 100%;
    margin: 0 20px;
    border: none;
  }
  .main__rectangle-body {
    background: url(../images/first-screen.png) center/cover no-repeat;
    color: #FFFFFF;
    text-shadow: 1px 1px 1px #333333;
  }
  .main__rectangle-body-text {
    max-width: 350px;
    padding: 100px 20px 100px 20px;
  }
  .main__button {
    text-shadow: none;
  }
}
@media (max-width: 425px) {
  .main__rectangle-body-text {
    padding: 20px 10px 20px 10px;
  }
}
.main__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.4;
}
.main__subtitle {
  margin-top: 25px;
}
.main__button {
  display: inline-block;
  margin-top: 30px;
  padding: 10px 20px;
  background-color: #D3B288;
  color: #FFFFFF;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 16px;
}
.main__about {
  display: flex;
  flex-wrap: wrap-reverse;
  max-width: 1076px;
  padding: 0 20px;
}
@media (max-width: 1024px) {
  .main__about {
    margin: 100px auto;
  }
}
.main .about__image {
  margin-right: 20px;
}
.main .aout__image {
  max-width: 100%;
}
.main .about__text {
  flex: 1 1 50%;
}
.main .about__paragraphs {
  margin-top: 40px;
  font-size: 16px;
  line-height: 22px;
}
.main .about__paragraphs p {
  margin-bottom: 30px;
}
.main__info {
  display: flex;
}
@media (max-width: 1330px) {
  .main__info {
    flex-direction: column;
  }
  .main__info .info__option {
    margin-top: 50px;
  }
}
.main__info .info__text {
  flex: 0 0 25%;
}
.main__info .info__text .info__p {
  margin-top: 30px;
}
.main__info .info__option {
  flex: 0 0 75%;
}
.main__info .info__option-row1 {
  display: flex;
}
.main__info .info__option-row2 {
  display: flex;
  margin-top: 50px;
}
.main__info .info__option-row3 {
  display: flex;
  margin-top: 50px;
}
.main__info .info__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 33.333%;
}
.main__info .info__icon {
  width: 50px;
  height: 50px;
}
.main__info .info__icon-text {
  margin-top: 20px;
  max-width: 250px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.4;
  text-align: center;
}
.main__services {
  padding: 120px 0;
  background-color: rgba(211, 178, 136, 0.1);
}
@media (max-width: 1025px) {
  .main__services {
    padding: 50px 0;
  }
}
.main__services .services__body {
  display: flex;
  overflow: hidden;
}
@media (max-width: 1320px) {
  .main__services .services__body {
    display: block;
  }
}
.main__services .services__body .services__text {
  flex: 0 0 34%;
  padding-right: 24px;
}
@media (max-width: 1320px) {
  .main__services .services__body .services__text {
    padding-right: 0;
  }
}
.main__services .services__body .services__text .services__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 50px;
}
.main__services .services__body .services__text .services__paragraph {
  margin-top: 25px;
  font-weight: 400;
  font-size: 14px;
}
.main__services .services__body .services__rectangles {
  display: flex;
  flex: 0 0 66%;
}
@media (max-width: 1320px) {
  .main__services .services__body .services__rectangles {
    display: inline-flex;
    flex: none;
    margin-top: 50px;
  }
}
.main__services .services__body .services__rectangles .services__item {
  flex: 0 1 25%;
  border: 10px solid #D3B288;
  transition: 0.2s;
  height: 260px;
  width: 196px;
  margin-right: 24px;
  border-radius: 5px;
}
.main__services .services__body .services__rectangles .services__item:last-child {
  margin-right: 0;
}
.main__services .services__body .services__rectangles .services__link {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  height: 100%;
  border: 3px solid #FFFFFF;
  color: #FFFFFF;
  background-color: #D3B288;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  padding: 0 5px 30px 5px;
}
@media (max-width: 1025px) {
  .main__results {
    margin: 50px auto;
  }
}
.main .results__body {
  overflow: hidden;
}
.main .results__top {
  display: flex;
  justify-content: space-between;
}
.main .results__change {
  display: flex;
}
.main .results__button1 {
  background: url(../images/icons/arrow-left.svg) no-repeat;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.main .results__button2 {
  background: url(../images/icons/arrow-right.svg) no-repeat;
  width: 40px;
  height: 40px;
}
.main .results__bottom {
  display: flex;
  margin-top: 50px;
}
.main .results__bottom .results__image {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-right: 25px;
  background: url("../images/Rectangle 47.png") center center/cover no-repeat;
  width: 415px;
  height: 275px;
}
.main .results__bottom .results__image:last-child {
  margin-right: 0;
}
.main .results__bottom .results__border {
  background: url(../images/icons/Border.svg);
  width: 4px;
  height: 100%;
}
.main .results__bottom .results__ellipse {
  position: absolute;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
}
.main .results__bottom .results__arrows {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 16px;
  height: 8px;
}
.main .results__bottom .results__arrow {
  height: 8px;
}
.main .results__bottom .results__arrow {
  height: 8px;
}
.main .results__bottom .results__subtitle {
  margin-top: 20px;
  font-size: 18px;
  line-height: 25px;
}

.footer__top {
  color: #FFFFFF;
  background: #D3B288;
  padding: 30px 0;
}
.footer__first-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #FFFFFF;
  padding-bottom: 30px;
}
@media (max-width: 768px) {
  .footer__first-row {
    flex-wrap: wrap;
  }
}
.footer__numbers {
  display: flex;
}
@media (max-width: 1025px) {
  .footer__numbers {
    display: flex;
    flex-direction: column;
  }
}
.footer__number {
  display: inline-block;
  margin-right: 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  white-space: nowrap;
}
.footer__number:last-child {
  margin-right: 0;
}
.footer .footer__address {
  white-space: nowrap;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  border-bottom: 2px dashed #FFFFFF;
}
.footer__button {
  justify-self: center;
  align-self: center;
  color: #D3B288;
  padding: 8px 15px;
  white-space: nowrap;
}
.footer__last-row {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
@media (max-width: 1025px) {
  .footer__last-row {
    display: block;
  }
  .footer__last-row__numbers {
    display: flex;
    flex-direction: column;
  }
}
.footer__last-row .item__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
}
.footer__last-row .item__links {
  margin-top: 30px;
}
.footer__last-row .item__link {
  margin-top: 10px;
}
.footer__last-row .item__link:first-child {
  margin-top: 0;
}
.footer__last-row .item__link a {
  color: #FFFFFF;
}
.footer__links {
  display: flex;
  justify-content: space-between;
  flex: 0 0 65%;
}
.footer__working-hours {
  flex: 0 0 34%;
  border: 3px solid #FFFFFF;
}
@media (max-width: 1025px) {
  .footer__working-hours {
    margin-top: 30px;
  }
}
.footer__working-hours .working-hours__body {
  padding: 40px 70px;
}
.footer__working-hours .working-hours__title {
  text-align: center;
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
}
.footer .info1 {
  padding: 25px 0 20px 0;
  border-bottom: 1px solid #FFFFFF;
}
.footer .info__string {
  display: flex;
  justify-content: space-between;
}
.footer .string2 {
  margin-top: 15px;
}
.footer .info2 {
  margin-top: 20px;
  line-height: 20px;
}
.footer__bottom .footer__bottom-row {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
}
.footer__bottom .footer__bottom-row .footer__bottom-item {
  line-height: 20px;
  opacity: 0.5;
}
.footer__bottom .footer__bottom-row .dashed {
  border-bottom: 2px dashed;
}
.footer__bottom .footer__bottom-row .underline {
  text-decoration: underline;
}

/*# sourceMappingURL=style.css.map */
